<a href="https://colab.research.google.com/github/krishnaprasadlenka/PYTHON_FOUNDATION/blob/main/FUNCTION_AND_RECURRSION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#FUNTIONS
#funtion defination
def calc_sum(a, b):#parameters
    return a + b
sum=calc_sum(1,2)#arguments
print(sum)

3

In [ ]:
def print_hello():
     print("hello")
print_hello()
print_hello()
print_hello()
print_hello()
print_hello()

hello
hello
hello
hello
hello

In [ ]:
def calc_avg(a,b,c):
    sum=a+b+c
    avg=sum/3
    return avg
avg=calc_avg(1,2,3)
print(avg)
calc_avg(4,5,6)

2.0

5.0

In [ ]:
print("krishna_prasad_lenka",end=" ") #for space at the end
print("krishna_prasad_lenka",end="\n")#for bringing into a new line
print("krishna_prasad_lenka")

krishna_prasad_lenka krishna_prasad_lenka
krishna_prasad_lenka

In [ ]:
#usage of default parameter
#by any chance if we have not given any values in function call and we want to run the function then we can give some default values in the parameter
def calc_avg(a=1,b=2,c=3):
    sum=a+b+c
    avg=sum/3
    return avg
avg=calc_avg()
print(avg)

2.0

Question:-WAF to print the length of a list .(list is parameter)

In [ ]:
cities=["delhi","pune","odisha","roorkee"]
cars=["hundai","verna","civic","safari"]
def print_length(list):
    print(len(list))
print_length(cities)
print_length(cars)

4
4

Question:-WAF to print the elements of a list in a single line

In [ ]:
cities=["delhi","pune","odisha","roorkee"]
cars=["hundai","verna","civic","safari"]

def print_list(list):
  for item in list:
    print(item,end=" ")
print_list(cities)
print()
print_list(cars)

delhi pune odisha roorkee
hundai verna civic safari

Question:-WAF to find factorial of n(n is the parameter)

In [ ]:
def factorial(n):
  fact=1
  for i in range(1,n+1):
    fact=fact*i
  return fact
print(factorial(5))
print(factorial(10))
print(factorial(20))

120
3628800
2432902008176640000

Question:-def convert usd value into inr

In [ ]:
def converter(usd_value):
  inr_value=usd_value*83
  return inr_value
print(converter(5))
print(converter(10))
print(converter(20))

415
830
1660

**Recursion**

In [5]:
def show(n):
  if(n==0):#base case
    return
  print(n)
  show(n-1)
show(5)

5
4
3
2
1

In [7]:
def fact(n):
  if(n==0 or n==1):
    return 1
  else:
    return n*fact(n-1)
print(fact(5))
print(fact(10))
print(fact(20))

120
3628800
2432902008176640000

Question:-A recursive funtion to calculate the sum of first n natural numbers

In [11]:
def sum(n):
  if (n==0):
    return 0
  else:
    return n+sum(n-1)
print(sum(5))
print(sum(10))
print(sum(20))

15
55
210

Question:-Write a recursive function to print all elements in a list

In [16]:
def print_list(list,idx):
  if(idx==len(list)):
    return
  print(list[idx])
  print_list(list,idx+1)

fruits=["mango","lichi","apple","banana"]
# Call the function with both arguments, starting the index at 0
print_list(fruits, 0)

mango
lichi
apple
banana