<a href="https://colab.research.google.com/github/krishnaprasadlenka/PYTHON_FOUNDATION/blob/main/LOOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#while loop
n=int(input("enter ur number"))
i=0
while(i<n):
  print("hello world")
  i+=1

enter ur number11
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [4]:
n=int(input("enter ur number"))
i=0
while(i<n):
  print(i)
  i+=1

enter ur number20
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
#for loop
name=input("enter ur name")
for i in name:
  print(i)

enter ur namekrishna
k
r
i
s
h
n
a

In [6]:
#iterating through list
fruits=["mango","banana","orange","apple"]
for i in fruits:
  print(i)

mango
banana
orange
apple

In [7]:
#iterating through a string
message = "krishna"
for char in message:
    print(char)

k
r
i
s
h
n
a

In [8]:
#iterating with index using enumerate()
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(f"Index: {index}, Fruit: {fruit}")

Index: 0, Fruit: apple
Index: 1, Fruit: banana
Index: 2, Fruit: cherry

In [9]:
#specifying starting index
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits, start=1):
    print(f"Index: {index}, Fruit: {fruit}")

Index: 1, Fruit: apple
Index: 2, Fruit: banana
Index: 3, Fruit: cherry

In [10]:
#iterating over dictionaries
person = {"name": "krishna", "age": 20, "city": "bangalore"}
for key, value in person.items():
    print(f"{key}: {value}")

name: krishna
age: 20
city: bangalore

In [12]:
#iterating over sets
numbers = {1, 2, 3, 4, 5}
for num in numbers:
    print(num)

1
2
3
4
5

NESTED FOR LOOPS

In [13]:
list_of_lists = [[1, 2], [3, 4], [5, 6]]
for inner_list in list_of_lists:
    for number in inner_list:
        print(number)

1
2
3
4
5
6

BREAK STATEMENT

In [14]:
#USING BREAK IN FOR LOOP
numbers = [1, 5, 2, 8, 3, 9, 4]
target = 8

for number in numbers:
    print(f"Checking: {number}")
    if number == target:
        print(f"Found the target: {target}!")
        break  # Exit the loop immediately
    else:
        print(f"{number} is not the target.")

print("Search complete.")

Checking: 1
1 is not the target.
Checking: 5
5 is not the target.
Checking: 2
2 is not the target.
Checking: 8
Found the target: 8!
Search complete.

In [15]:
#BREAK STATEMENT USING WHILE LOOP
count = 0
while True:  # This loop would run indefinitely without a break
    print(f"Current count: {count}")
    count += 1
    if count > 5:
        print("Count exceeded 5, breaking the loop.")
        break  # Exit the while loop

Current count: 0
Current count: 1
Current count: 2
Current count: 3
Current count: 4
Current count: 5
Count exceeded 5, breaking the loop.

In [16]:
#CONTINUE STATEMENT
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    if num == 3:
        print("Skipping 3.")
        continue
    print(f"Processing: {num}")
print("Loop finished.")

Processing: 1
Processing: 2
Skipping 3.
Processing: 4
Processing: 5
Loop finished.